.body {
  background-image: url("/assets/img/fondo.jpeg");
  background-size: 170px 170px;
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  height: 75vh;
  width: 100%; /* Ancho deseado */
  justify-content: center;
  justify-items: center;
  align-items: center;
}
.display {
  width: 50%;
  align-content: center;
  justify-content: center;
}
.login {
  height: 100%;
  width: 70%;
  justify-items: center;
  align-items: center;
  justify-content: center;
}

.center {
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
}

.login_content {
  margin: 5px;
  padding: 5px;
}

.inputs {
  max-width:1300px!important;
}