.body {
  background-image: url("/assets/img/fondo.jpeg");
  background-size: 170px 170px;
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 100%; /* Ancho deseado */
  justify-content: center;
  justify-items: center;
  align-items: center;
}
.display {
  width: 50%;
  align-content: center;
  justify-content: center;
}
.login {
  height: 100%;
  width: 100%;
  justify-items: center;
  align-items: center;
}

.center {
  justify-content: center;
}