<main class="body">
  <mat-grid-list 
    cols="1"
    class="display"
    rowHeight="10vh"
  >
    <mat-grid-tile>Iniciar sesión</mat-grid-tile>
    <mat-grid-tile rowspan="5">
      <mat-card class="login center">

        <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
          <mat-card-title class="login_content">Usuario</mat-card-title>
          <mat-card-content>
            <mat-form-field>
              <input 
                matInput
                placeholder="pat@example.com"
                required
                id="email"
                formControlName="email"
              >
              <button mat-icon-button matSuffix disabled="true"><mat-icon /></button>
              <!--@if (email.invalid) {-->
                <!--mat-error>{{errorMessage}}</mat-error-->
              <!--}-->
            </mat-form-field>
          </mat-card-content>

          <mat-card-title class="login_content">Contraseña</mat-card-title>
          <mat-card-content>
            <mat-form-field>
              <mat-label>Ingresa tu contraseña</mat-label>
              <input
                matInput
                [type]="hide ? 'password' : 'text'"
                id="password"
                formControlName="password"
              >
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
          </mat-card-content>

          <mat-card-actions style="width: 50%;" class="center">
            <button mat-flat-button color="warn" type="submit">Iniciar</button>
          </mat-card-actions>
        </form>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  
  <router-outlet></router-outlet>

</main>