.body {
  background-image: url("/assets/img/fondo.jpeg");
  background-size: 170px 170px;
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 100%; /* Ancho deseado */
}