.header {
  background-color: #eb2526;
  /*background-image: url("/assets/img/pokemon-logo.png");*/
  display: flex;
  flex-direction: column;
  height: 15vh;
  width: 100%; /* Ancho deseado */
}
.logo {
  width: 20vw;
  height: 20vh;
  margin: 10px;
}